
<!-- <div class=" container rounded-3 border border-2 border-dark my-5 bg-white "> -->
    <!-- <div>
        <h1 class=" h1">To Do List</h1> -->
        
        <!-- <ng-container >
            <div class="row">
                <div class=" col-8">
                    <h3 id="formid1" class="  form-control shadow"> <button class="btn btn-primary"
                            routerLink="/login">+ </button> Register User</h3>
                </div>
            </div>
        </ng-container> -->
       
    <!-- </div> -->
   <!-- <h1> Dont have account yet?<a routerLink="/register">  Register User</a></h1> -->
    <!-- <hr> -->
    <!-- <app-home></app-home> -->
    
    <router-outlet></router-outlet>
  
   
<!-- </div> -->

