#formid1{
    background-color: rgb(145, 236, 206);
    font-weight: 600;
}
#formid2{
    background-color: rgb(145, 236, 206);
   font-weight: 600;
}
#formid3{
    background-color: rgb(145, 236, 206);
   font-weight: 600;
}
#formid4{
    background-color: rgb(111, 153, 177);
   font-weight: 600;
}
#formid5{
    background-color: rgb(238, 243, 170);
   font-weight: 600;
}
#formid6{
    background-color: rgb(71, 117, 96);
   font-weight: 600;
}
#formid7{
    background-color: rgb(111, 153, 177);
   font-weight: 600;
}
#formid8{
    background-color: rgb(224, 162, 177);
   font-weight: 600;
}
#formid9{
    background-color: rgb(224, 162, 177);
   font-weight: 600;
}
