<div class=" container rounded-3 border border-2 border-dark my-5 bg-white ">
    <div>
        <h1 class=" h1">To Do List</h1>
        <!-- <ng-container *ngIf="!(lognedin$ |async )"> -->
            <div class="row">
                <div class=" col-8">
                    <h3 id="formid1" class="  form-control shadow"> <button class="btn btn-primary"
                            routerLink="/register">+ </button> Register User</h3>
                </div>
            </div>
        <!-- </ng-container> -->
        <!-- <ng-container *ngIf="lognedin$ |async "> -->

            <div class="row">
                <div class=" col-8">
                    <h3 id="formid2" class="  form-control shadow"> <button class="btn btn-primary" routerLink="/"> +
                        </button> Login</h3>
                </div>
            </div>
            <div class="row">
                <div class=" col-8">
                    <h3 id="formid3" class="  form-control shadow "> <button class="btn btn-primary" routerLink="/"> +
                        </button> Get Logged In User via Token</h3>
                </div>
            </div>


            <div class="row">
                <div class=" col-8">
                    <h3 id="formid4" class="  form-control shadow "> <button class="btn btn-success"> + </button> Logout
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class=" col-8">
                    <h3 id="formid5" class="  form-control shadow "> <button class="btn btn-secondary"> + </button>
                        Update User Profile</h3>
                </div>
            </div>
            <div class="row">
                <div class=" col-8">
                    <h3 id="formid6" class="  form-control shadow "> <button class="btn btn-success"> + </button> Upload
                        Image</h3>
                </div>
            </div>
            <div class="row">
                <div class=" col-8">
                    <h3 id="formid7" class="  form-control shadow "> <button class="btn btn-secondary"> + </button> Get
                        user Image</h3>
                </div>
            </div>
            <div class="row">
                <div class=" col-8">
                    <h3 id="formid8" class="  form-control shadow "> <button class="btn btn-danger"> + </button> Delete
                        Image</h3>
                </div>
            </div>
            <div class="row">
                <div class=" col-8">
                    <h3 id="formid9" class="  form-control shadow "><button class="btn btn-danger"> + </button> Delete
                        User</h3>
                </div>
            </div>
        </ng-container>
    </div>

    <hr>
    <router-outlet></router-outlet>
</div>





<div class=" container rounded-3 border border-2 border-dark my-5 bg-white ">
    <div>
        <div class="row">
            <div class=" col-8">
                <h3 id="formid2" class="  form-control shadow"> <button class="btn btn-primary" > +
                    </button> Item</h3>
            </div>
        </div>
        <div class="row">
            <div class=" col-8">
                <h3 id="formid3" class="  form-control shadow "> <button class="btn btn-primary" > +
                    </button> Update User Profile</h3>
            </div>
        </div>

        <div class="row">
            <div class=" col-8">
                <h3 id="formid5" class="  form-control shadow "> <button class="btn btn-secondary"> + </button>
                    Action </h3>
            </div>
        </div>
    </div>
</div>